<h2><%= "Welcome to Store No. #{@store.id}, located in #{@store.location}!"%></h2>

<p>We offer the following delightful products</p>

<ul>
<% @products.each do |p| %>
	<% if p.store == @store.id %>
		<li><%= link_to "#{p.title}" , "/products/#{p.id}"%></li></br>
	<% end %>
<% end %>
</ul>

<!-- put the create a new product form below -->
<p>**Create a new product placeholder**</p>