<h2>Here are all our wonderful stores: </h2>

<% @stores.each do |s| %>
	<p><%= "Store No. #{s.id} > " %><%= link_to "#{s.location}" , "/stores/#{s.id}" %></p>
<% end %>

<!-- create a new store entry section goes here -->
<p><%= link_to "Create a new store" , new_store_path %></p>